version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672" # RabbitMQ
      - "15672:15672" # RabbitMQ dashboard
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
    environment:
      PORT: 8000
      RABBIT_MQ: amqp://guest:guest@rabbitmq:5672
      QUEUE_NAME: letter_queue

  isl-server:
    build:
      context: ./isl-glove-AI
      dockerfile: Dockerfile
    container_name: isl-server
    ports:
      - "5000:5000"
    depends_on:
      - rabbitmq
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PORT: 5000
      RABBIT_MQ: amqp://guest:guest@rabbitmq:5672
      QUEUE_NAME: letter_queue
      MONGO_URI: mongodb://host.docker.internal:27017/isl_glove
      PYTHON_PATH: python
