.git
.gitignore
.idea
.vscode

build
.dart_tool
.packages
.pub-cache
.pub

android/.gradle
android/local.properties

ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

*.iml
*.log